app:
    resource: "@AppBundle/Controller/"
    type:     annotation
file_explorer:
    path:      /{page}
    defaults:  { _controller: AppBundle:Default:index , page:1}
    requirements:
        page: '\d+'
import:
    path:      /import
    defaults:  { _controller: AppBundle:Admin:import}

update:
    path:      /update
    defaults:  { _controller: AppBundle:Default:update}
admin:
    path:      /admin/{page}
    defaults:  { _controller: AppBundle:Admin:index, page:1}

addFolder:
    path:      /addFolder
    defaults:  { _controller: AppBundle:Admin:addFolder}

deleteFolder:
    path:      /deleteFolder
    defaults:  { _controller: AppBundle:Admin:deleteFolder}
deleteImage:
    path:      /deleteImage
    defaults:  { _controller: AppBundle:Admin:deleteImage}

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"
    requirements:
        _locale: %app_locales%
    defaults:
        _locale: %locale%