.img-indicator img {
    width: 234px;
    margin: 10px;
}

ul.img-indicators {
    list-style: none;
    float: left;
    display: block;
    max-height: 100%;
}

ul.img-indicators li {
    cursor: pointer;
}

div#file-tree {
    overflow-y: auto;
    display: block;
    max-height: 100%;
}
.item img{
  max-height: 500px;
}

.carousel{
  height:500px;
}

.carousel-control.left {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.item img {
    margin: 0 auto;
}



a.thumbnail {
}

a.thumbnail img {
}

.center-block {
    text-align: center;
}

.nav button {
    margin-top: 15px;
}

.carousel-control span {
    color: black;
}



span.folder {
    width: 100px;
    color: gray;
    font-size: 74px;
}

.subFolder {
    float: left;
    position: relative;
    width: 115px;
    text-align: center;
    height: 115px;
}
